<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css"></link>

    </head>
    <body>
        {{>header}}
        <h1>
            From a Static file help age is {{age}}, name is {{name}}
        </h1>
        {{>footer}}
    </body>
</html>>